body
{
font-family: "ff-meta-serif-web-pro",Georgia,Times,"Times New Roman",serif;
}

::selection 
{
background-color: #f04530;
color: #fff;
}

p
{
line-height:170%;
letter-spacing:0.5px;
font-size:120%;
}

div#main
{
width: 850px;
height: 100%;
background-color: #ffffff;
box-shadow: 0px 0px 15px #888888;
border-radius:15px;
border:1px solid #ffffff;
padding: 20px 75px
}